<app-header></app-header>

<div class="container montserrat-regular" *ngIf="itens">
  <div class="purchase-form">
    <h1>Finalizar Compra</h1>

    <div class="product-details">
      <div class="product-image">
        <img [src]="itens.imagem" [alt]="itens.nome">
      </div>
      <div class="product-info">
        <h2 class="product-title">{{ itens.nome }}</h2>
        <p class="product-description">Descrição do produto com ingredientes</p>
        <p class="product-price">{{ itens.preco }}</p>
      </div>
    </div>

    <div *ngIf="pedidoPersonalizado">
      <p>Prato personalizado com {{ pedidoPersonalizado.proteina.nome }} e {{ pedidoPersonalizado.acompanhamentos.length }}</p>
    </div>

    <div class="action-buttons">
      <a [routerLink]="['/finalizar-compra']"><button class="btn btn-primary finalizar-compra montserrat-regular" (click)="finalizarCompra()">Finalizar Compra</button></a>
    </div>
  </div>
</div>

<app-footer></app-footer>
