* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color :#c4c7b6 /* Fundo do site em verde */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:#c4c7b6 /* Fundo verde */
  }
  
  .payment-form {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: #fff; /* Cor de fundo do formulário de pagamento */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .payment-form h2 {
    margin-bottom: 20px;
    color: #333333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-details,
  .vr-va-details {
    display: none; /* Esconde os detalhes por padrão */
  }
  
  .action-buttons {
    margin-top: 30px;
  }
  
  .btn-primary {
    padding: 10px 20px;
    background-color: #859b48; /* Verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #6c7f39; /* Verde mais escuro */
  }
  
  .btn-secondary {
    padding: 10px 20px;
    background-color: #6c757d; /* Cinza */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268; /* Cinza mais escuro */
  }
  