<app-header></app-header>

<div class="container montserrat-regular">
  <section class="team-section">
    <div class="team-photo">
      <img src="assets/2.png" alt="Foto do Grupo">
    </div>
    <div class="team-info">
      <h2>Nosso Time</h2>
      <p>Somos do grupo IntelliCode, formado na Faculdade Impacta. O BeanFood é um portal criado com o objetivo de ajudar pessoas que estão buscando melhorar sua qualidade de vida através de uma alimentação mais saudável. Nosso time é composto por profissionais dedicados e apaixonados por nutrição e tecnologia, comprometidos em oferecer soluções inovadoras e acessíveis para promover hábitos alimentares mais saudáveis.</p>
    </div>
  </section>
</div>

<app-footer></app-footer>
