<app-header></app-header>

<div class="container montserrat-regular">
  <div class="purchase-form">
    <h2>Finalizar Compra</h2>
    <p>Campos com * são obrigatórios.</p>

    <!-- Endereço de entrega -->
    <div class="form-group">
      <label for="endereco-entrega">Endereço de entrega *</label>
      <p>{{ enderecoEntrega }}</p>
      <!-- Botão para escolher outro endereço -->
      <button class="btn btn-secondary" (click)="mostrarCampoNovoEndereco()">Escolher outro endereço</button>
    </div>

    <!-- Novo endereço de entrega (mostrado apenas se o usuário escolher outro endereço) -->
    <div *ngIf="mostrarNovoEndereco" class="form-group">
      <label for="novo-endereco-entrega">Novo Endereço de entrega *</label>
      <input type="text" id="novo-endereco-entrega" [formControl]="enderecoEntregaFormControl">
      <button class="btn btn-primary" (click)="onSubmitNovoEndereco()">Salvar Novo Endereço</button>
    </div>

    <!-- Resumo do pedido -->
    <div class="resumo-pedido">
      <h2>Resumo do Pedido</h2>
      
      <!-- Pedido Personalizado -->
      <div *ngIf="pedidoPersonalizado" class="resumo-item">
        <h3>Pedido Personalizado</h3>
        <div class="resumo-pedido-personalizado">
          <div class="resumo-pedido-linha">
            <span>Proteína:</span>
            <span>{{ pedidoPersonalizado.proteina?.nome }} - R$ {{ pedidoPersonalizado.proteina?.preco | number: '1.2-2' }}</span>
          </div>
          <div *ngFor="let item of pedidoPersonalizado.acompanhamentos" class="resumo-pedido-linha">
            <span>Acompanhamento:</span>
            <span>{{ item.nome }} - R$ {{ item.preco | number: '1.2-2' }}</span>
          </div>
        </div>
      </div>

      <div class="resumo-item">
        <span>Valor dos produtos:</span>
        <span>R$ {{ calcularTotalPedidoPersonalizado() | number: '1.2-2' }}</span>
      </div>
      <div class="resumo-item">
        <span>Frete:</span>
        <span>+ R$ 7,00</span>
      </div>
      <div class="resumo-item total">
        <span>Total:</span>
        <span>R$ {{ calcularTotal() | number: '1.2-2' }}</span>
      </div>
    </div>
    
    <!-- Botão de Finalizar Compra -->
    <div class="action-buttons">
      <button class="btn btn-primary" (click)="finalizarCompra()">Finalizar Compra</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
