<footer>
    <div class="container">
      <div class="footer-columns">
        <!-- Coluna 1 -->
        <div class="footer-column">
          <h3>Explore mais</h3>
          <ul>
            <li><a href="#">Por que escolher Beanfood?</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Nosso impacto positivo</a></li>
            <li><a href="#">Receitas saudáveis</a></li>
            <li><a href="#">Na mídia</a></li>
            <li><a href="#">Nossas áreas de entrega</a></li>
            <li><a href="#">Visite nosso blog</a></li>
          </ul>
        </div>

        <!-- Coluna 2 -->
        <div class="footer-column">
          <h3>Parcerias</h3>
          <ul>
            <li><a href="#">Seja nosso parceiro</a></li>
            <li><a href="#">Nosso impacto social</a></li>
            <li><a href="#">Para influenciadores</a></li>
            <li><a href="#">Para nutricionistas</a></li>
            <li><a href="#">Para empresas</a></li>
          </ul>
        </div>

        <!-- Coluna 3 -->
        <div class="footer-column">
          <h3>Fale conosco</h3>
          <ul>
            <li><a href="#">Envie-nos uma mensagem</a></li>
            <li><a href="#">Junte-se à nossa equipe</a></li>
            <li><a href="#">Dúvidas frequentes</a></li>
            <li><a href="#">Precisa de ajuda?</a></li>
            <li><a href="#">Termos de serviço</a></li>
            <li><a href="#">Política de privacidade</a></li>
          </ul>
        </div>
      </div>

      <!-- Formas de pagamento -->
      <div class="payment-methods">
        <h3>Formas de pagamento</h3>
        <img src="assets\pagamento.png" alt="Formas de pagamento">
      </div>
    </div>
    <div class="copyright">
      <p>&copy; Beanfood 2024 - Todos os direitos reservados</p>
    </div>
  </footer>