/* Estilos para o login component */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d4e157; /* Fundo do site em verde */
}

.login-container {
  background-color: #c4c7b6; /* Cor de fundo corrigida */
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza os itens verticalmente */
  height: 80vh; /* Reduz a altura para 80% da altura da tela */
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
}

.left-section {
  flex: 1;
  padding: 20px; /* Ajuste do padding */
  text-align: center; /* Centraliza o texto */
}

.left-section h1 {
  font-size: 24px; /* Tamanho do texto */
  color: #333; /* Cor do texto */
}

.right-section {
  width: 400px; /* Largura do retângulo */
  padding: 40px; /* Ajuste do padding */
  background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo branco com transparência */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px; /* Margem */
  font-size: 18px; /* Tamanho da fonte */
  text-align: left; /* Alinha o conteúdo para a esquerda */
}

.right-section h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px; /* Tamanho do texto */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #333;
}

.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%; /* Largura total */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
  border-color: #28a745; /* Cor verde ao focar */
}

.btn {
  width: 100%; /* Largura total */
  padding: 10px;
  background-color: #859b48; /* Verde do botão "Finalizar Compra" */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove sublinhado do link */
  display: block;
  margin-top: 20px; /* Margem superior */
  text-align: center; /* Centraliza o texto */
}

.btn:hover {
  background-color: #6c7f39; /* Verde mais escuro do botão "Finalizar Compra" */
}

.divider {
  border-left: 2px solid #000; /* Linha vertical preta e mais grossa */
  height: 347px; /* Altura igual ao retângulo */
  margin: 0 20px; /* Margem entre o retângulo e a linha */
}
