<app-header></app-header>
<!-- Login Component -->
<div class="login-container">
    <!-- Left Section -->
    <div class="left-section">
        <!-- Header -->
        <h1>Login</h1>
        <!-- Texto personalizado -->
        <p>Ainda não tem conta? Não tem problema! Crie agora para fazer parte de um mundo mais saudável.</p>
        <!-- Botão de Cadastre-se -->
        <a href="/registro" class="btn-cadastro">Registre-se</a>
    </div>
    <!-- Divisão com linha vertical -->
    <div class="divider"></div>
    <!-- Right Section -->
    <div class="right-section">
        <!-- Header -->
        <h2>Faça login</h2>
        <!-- Formulário de login -->
       
            <!-- Campo de E-mail -->
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" formControlName="email">
            </div>
            <!-- Campo de Senha -->
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha"
                    formControlName="password">
            </div>

            <!-- Botão de Entrar -->
            <button type="submit" class="btn-login">Entrar</button>
       
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>