<header>
    <div class="header-container">
      <div class="logo">
        <a routerLink="/">
        <img src="assets/testelogo.png" alt="Logo">
        </a>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/">Produtos</a></li>
          <li><a routerLink="/como-funciona">Como Funciona</a></li>
          <li><a routerLink="/sobre">Sobre Nós</a></li>
          <li><a routerLink="/contato">Contato</a></li>
        </ul>
      </nav>
      <div class="cart">
        <a routerLink="/carrinho">
          <img src="assets/carrinho.png" alt="Cart" title="Carrinho">
        </a>
        <a routerLink="/login">
          <button class="btn btn-login">
            Login
          </button>
        </a>
      </div>
    </div>
  </header>
  