<header>
    <div class="header-container montserrat-regular">
      <div class="logo">
        <a routerLink="/">
        <img src="assets/beanfoodteste.png" alt="Logo">
        </a>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/">Produtos</a></li>
          <li><a routerLink="/pedido-personalizado">Pedidos Personalizados</a></li>
          <li><a routerLink="/sobre">Sobre Nós</a></li>
        </ul>
      </nav>
      <div class="cart" ng-if="userData == null">
        <a routerLink="/login">
          <button class="btn btn-login montserrat-regular">
            {{userData | json}}
          </button>
        </a>
      </div>
    </div>
  </header>
  
