<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
</head>

<app-header></app-header>
<body>

<div class="container">
  <div class="registration-form">
    <h1>Crie sua conta</h1>
    <form>
      <div class="form-group">
        <label for="email">Seu e-mail *</label>
        <input type="email" id="email" name="email" required>
        <p>A confirmação e o acompanhamento de seu pedido serão enviados ao seu e-mail cadastrado.</p>
      </div>

      <div class="form-group">
        <label for="password">Sua senha *</label>
        <input type="password" id="password" name="password" required>
        <p>Use oito ou mais caracteres com uma combinação de letras, números e símbolos para uma senha mais segura.</p>
      </div>

      <div class="form-group">
        <label for="firstName">Nome *</label>
        <input type="text" id="firstName" name="firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName">Sobrenome *</label>
        <input type="text" id="lastName" name="lastName" required>
      </div>

      <div class="form-group">
        <label for="cpf">CPF *</label>
        <input type="text" id="cpf" name="cpf" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" maxlength="14">
      </div>

      <div class="form-group">
        <label for="gender">Sexo *</label>
        <div class="dropdown">
          <label for="toggle" class="dropbtn">Selecione</label>
          <input type="radio" id="toggle" name="gender" class="toggle-input">
          <ul class="dropdown-content">
            <li><label for="male">Masculino</label><input type="radio" id="male" name="gender" value="male"></li>
            <li><label for="female">Feminino</label><input type="radio" id="female" name="gender" value="female"></li>
            <li><label for="other">Outro</label><input type="radio" id="other" name="gender" value="other"></li>
            <li><label for="prefer_not_to_say">Prefiro não informar</label><input type="radio" id="prefer_not_to_say" name="gender" value="prefer_not_to_say"></li>
          </ul>
        </div>
      </div>
      

      <div class="form-group">
        <label for="birthdate">Data de nascimento *</label>
        <input type="date" id="birthdate" name="birthdate" required>
      </div>

      <div class="form-group">
        <label for="phone">Celular ou telefone fixo *</label>
        <input type="tel" id="phone" name="phone" required pattern="\(\d{2}\) \d{4,5}-\d{4}">
      </div>

      <div class="form-group">
        <label for="cep">CEP *</label>
        <input type="text" id="cep" name="cep" required pattern="\d{5}-\d{3}">
      </div>

      <div class="form-group">
        <div class="checkbox-group">
          <input type="checkbox" id="newsletter" name="newsletter">
          <label for="newsletter">Desejo assinar a newsletter e receber mensagens de lançamentos e promoções no meu e-mail.</label>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox-group">
          <input type="checkbox" id="privacyPolicy" name="privacyPolicy" required>
          <label for="privacyPolicy">Ao criar uma conta, você concorda com a nossa Política de Privacidade.</label>
        </div>
      </div>

      <div class="form-group button-group">
        <button type="submit">Criar conta</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>
<app-footer></app-footer>
