<app-header></app-header>

<div class="container montserrat-regular">
  <div class="registration-form" [formGroup]="registerForm">
    <h1>Crie sua conta</h1>
    <!-- <p>* Campos obrigatórios.</p> -->
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Seu e-mail *</label>
        <input type="email" id="email" formControlName="email" required>
        <p>A confirmação e o acompanhamento de seu pedido serão enviados ao seu e-mail cadastrado.</p>
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
          <small *ngIf="registerForm.get('email')?.errors?.['required']">O e-mail é obrigatório.</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']">O e-mail deve ser válido.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Sua senha *</label>
        <input type="password" id="password" formControlName="password" required>
        <p>Use oito ou mais caracteres com uma combinação de letras, números e símbolos para uma senha mais segura.</p>
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
          <small *ngIf="registerForm.get('password')?.errors?.['required']">A senha é obrigatória.</small>
          <small *ngIf="registerForm.get('password')?.errors?.['minlength']">A senha deve ter pelo menos 8 caracteres.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName">Nome *</label>
        <input type="text" id="firstName" formControlName="firstName" required>
        <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)">
          <small *ngIf="registerForm.get('firstName')?.errors?.['required']">O nome é obrigatório.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Sobrenome *</label>
        <input type="text" id="lastName" formControlName="lastName" required>
        <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)">
          <small *ngIf="registerForm.get('lastName')?.errors?.['required']">O sobrenome é obrigatório.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="cpf">CPF *</label>
        <input type="text" id="cpf" formControlName="cpf" required mask="000.000.000-00">
        <div *ngIf="registerForm.get('cpf')?.invalid && (registerForm.get('cpf')?.dirty || registerForm.get('cpf')?.touched)">
          <small *ngIf="registerForm.get('cpf')?.errors?.['required']">O CPF é obrigatório.</small>
          <small *ngIf="registerForm.get('cpf')?.errors?.['invalidCpf']">O CPF deve estar no formato 000.000.000-00.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Sexo *</label>
        <select id="gender" formControlName="gender">
          <option value="" disabled selected>Selecione</option>
          <option value="male">Masculino</option>
          <option value="female">Feminino</option>
          <option value="other">Outro</option>
          <option value="prefer_not_to_say">Prefiro não informar</option>
        </select>
        <div *ngIf="registerForm.get('gender')?.invalid && (registerForm.get('gender')?.dirty || registerForm.get('gender')?.touched)">
          <small *ngIf="registerForm.get('gender')?.errors?.['required']">O gênero é obrigatório.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="birthdate">Data de nascimento *</label>
        <input type="date" id="birthdate" formControlName="birthdate" required>
        <div *ngIf="registerForm.get('birthdate')?.invalid && (registerForm.get('birthdate')?.dirty || registerForm.get('birthdate')?.touched)">
          <small *ngIf="registerForm.get('birthdate')?.errors?.['required']">A data de nascimento é obrigatória.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Celular ou telefone fixo *</label>
        <input type="tel" id="phone" formControlName="phone" required mask="(00) 00000-0000">
        <div *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.dirty || registerForm.get('phone')?.touched)">
          <small *ngIf="registerForm.get('phone')?.errors?.['required']">O telefone é obrigatório.</small>
          <small *ngIf="registerForm.get('phone')?.errors?.['invalidPhone']">O telefone deve estar no formato (00) 00000-0000.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="cep">CEP *</label>
        <input type="text" id="cep" formControlName="cep" required mask="00000-000">
        <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">Não sei meu CEP</a>
        <div *ngIf="registerForm.get('cep')?.invalid && (registerForm.get('cep')?.dirty || registerForm.get('cep')?.touched)">
          <small *ngIf="registerForm.get('cep')?.errors?.['required']">O CEP é obrigatório.</small>
          <small *ngIf="registerForm.get('cep')?.errors?.['invalidCep']">O CEP deve estar no formato 00000-000.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="logradouro">Logradouro</label>
        <input type="text" id="cep" formControlName="logradouro" readonly>
      </div>

      <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" id="cep" formControlName="bairro" readonly>
      </div>

      <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" id="cep" formControlName="cidade" readonly>
      </div>

      <div class="form-group">
        <label for="bairro">Estado</label>
        <input type="text" id="estado" formControlName="estado" readonly>
      </div>

      <div class="form-group">
        <label for="bairro">Numero</label>
        <input type="text" id="numero" formControlName="numero">
      </div>

      <div class="form-group">
        <label>
          <input type="checkbox" formControlName="privacyPolicy" required> Ao criar uma conta, você concorda com a nossa Política de Privacidade.
        </label>
        <div *ngIf="registerForm.get('privacyPolicy')?.invalid && (registerForm.get('privacyPolicy')?.dirty || registerForm.get('privacyPolicy')?.touched)">
          <small *ngIf="registerForm.get('privacyPolicy')?.errors?.['requiredTrue']">Você deve aceitar a Política de Privacidade.</small>
        </div>
      </div>

      <div class="form-group button-group">
        <button type="submit" (click)="onSubmit()">Salvar cadastro</button>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
